<!DOCTYPE html>
<html lang="{{ entry.lang if entry else conf.lang }}">
<head>
  {% block head -%}
  <meta charset="utf-8" />
  <title>{% block title %}{% endblock %}</title>
  <link media="all" href="{{ env.path + '/style.css' }}" rel="stylesheet" />
  <link href="/favicon.ico" rel="shortcut icon" />
    {% if 'sitemap' in env.views -%}
        <link href="{{ env.views.sitemap.path }}" type="application/xml" rel="sitemap" title="Sitemap">
    {%- endif%}
  <link href="{{ env.path + '/' }}" rel="home start" />
  <link href="{{ env.path + '/atom.xml' }}" type="application/atom+xml" rel="alternate" title="Atom Feed" />
  <link href="{{ env.path + '/rss.xml' }}" type="application/rss+xml" rel="alternate" title="RSS Feed" />
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  {%- endblock %}
</head>
<body>
  <header>
    <h1><a href="{{ env.path + '/' }}" rel="home start" class="blogtitle">{{ conf.sitename }}</a></h1>
    <nav>
      <ul>
        <li><a href="{{ env.path + '/atom.xml' }}" rel="alternate">feed</a></li>
        <li><a href="{{ env.path + '/archive/' }}" rel="contents">archive</a></li>
        <li><a href="http://github.com/aaroncm">github</a></li>
        <li><a href="http://twitter.com/AaronM">twitter</a></li>
        <li><a href="mailto:aaron@munge.net">email</a></li>
      </ul>
    </nav>
  </header>
  {%- block content -%}
  {%- endblock -%}
  <footer>
    {% block footer %}
    <p>written by <a href="mailto:{{ conf.email }}">{{ conf.author }}</a></p>
    <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a>
    {% endblock %}
  </footer>
</body>
</html>
